body {
    background-color: #ffffcc;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100px;
    border-radius: 3px;
    height: 15px;
}

h1 {
    color: #ff6600;
}
.header {
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-3 {
    width: 25%;
}

.col-9 {
    width: 75%;
}

