body {
    background-color: papayawhip;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 250px;
    border-radius: 4px;
    height: 35px;
    border: 2px solid papayawhip;
}

    h1 {
color: darkred;
}

table {
    border-collapse: collapse;
    border: 1px solid darkred;
}
.form-group {
    width: 255px;
    border: 2px solid darkred;
    border-radius: 4px;
    height: 39px;
}