@model IEnumerable<string>

@{
	Layout = ViewBag.Role != null
		? $"~/Views/{ViewBag.Role}/_Layout.cshtml"
		: "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Resources.ErrorTitle;
}

<div class="alert alert-danger">
	@Resources.ErrorText
</div>

@Html.ActionLink(
	Resources.OKText,
	"Index",
	"Home",
	null,
	new { @class = "btn btn-default" })
