@model ThreeLD.Web.Models.ViewModels.PreferencesViewModel

@{
    ViewBag.Title = "Preferences";
}

@foreach (var p in Model.Preferences)
{
    <ul class="list-group">
        <li class="list-group-item">>@p.Category 
@using (Html.BeginForm("RemovePreference", "User"))
{
    @Html.Hidden("id", p.Id)
            <button type="button" class="btn btn-link">
            <span class="glyphicons glyphicons-remove">
                </span></button>
}
        </li>
    </ul>
}
