@model ThreeLD.Web.Models.ViewModels.AdminUsersModel

@{
	ViewBag.Title = "Users";
}

<h1>User Accounts</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>User Name</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
	</thead>
	@if (!Model.Users.Any())
	{
		<tr>
			<td colspan="5" class="text-center">No User Accounts</td>
		</tr>
	} else
	{
		foreach (var info in Model.Users)
		{
			<tr>
				<td>@info.Key.UserName</td>
				<td>@info.Key.FirstName</td>
				<td>@info.Key.LastName</td>
				<td>@info.Key.Email</td>
				<td>
					<div class="row">
						<div class="col-xs-6">
							@if (!Model.Admins.Contains(info.Key.Id))
							{
								if (!info.Value)
								{
									using (Html.BeginForm(
										"AssignEditor",
										"Admin",
										new {id = info.Key.Id}))
									{
										<button class="btn btn-link"
										        type="submit">
                                            Assign Editor
										</button>
									}
								} else
								{
									using (Html.BeginForm(
										"UnassignEditor",
										"Admin",
										new {id = info.Key.Id}))
									{
										<button class="btn btn-link"
										        type="submit">
                                            Unassign Editor
										</button>
									}
								}
							}
						</div>
						<div class="col-xs-6">
							@if (info.Key.Id != Model.CurrentUserId)
							{
								using (Html.BeginForm(
									"DeleteUser",
									"Admin",
									new { id = info.Key.Id }))
								{
                                    <button type="submit" class="btn btn-link">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                }
                            }
						</div>
					</div>
				</td>
			</tr>
		}
	}
</table>
